.navBar{
  background-color: #DB4C40;
  color: #F0C987;
  padding: 0.5%;
}
.navBar span{
  font-size: 26px;
}
#hamburgermenu{
  background-color: yellow;
  font-size: 18px;
}
#hamburgermenu a{
  color: green;
}
